/*//////////index.html/////////*/
body, h1{
	font-family: 'Sonsie One', cursive;
} 

body {
	background-image: url("background.jpg");
}

.heading {
	text-align: center;
}
.image {
	padding: 20px;
}
#userImg{ 
    border-radius: 50%;
    border-style: dotted;
}
 
#head {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.main {
	text-align: center;
}

#footer {
    background-color: black;
    position: fixed;
    height: auto;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#footer p {
	font-size: 10px;
	color: #bfbfbf;
}


/*///////Feed.html////////*/
#imagePosition{
	position: fixed;
	top: 20%;
	left: 50%;
	margin: -90px;
	margin-bottom: -100%;
}

#userImgFeed{
    border-radius: 50%;
    border-style: dotted;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

#preferences{
	display: block;
	position: fixed;
	top: 300px;
	margin-left: 480px;
	font-color: white;
}

.form-check{
	display: block;
	position: fixed;
	top: 400px;
	text-align: justify;
	margin-left: 250px;
}
label{
	font-size: 28px;
}