/*//////////index.html/////////*/
body, h1, h2{
	font-family: 'Sonsie One', cursive;
} 

body {
	background-image: url("background.jpg");
}

.heading {
	text-align: center;
}
.image {
	padding: 20px;
}
#userImg{ 
    border-radius: 50%;
    border-style: dotted;
}

.main {
	text-align: center;
}

#footer {
    background-color: black;
    position: fixed;
    height: auto;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#footer p {
	font-size: 10px;
	color: #bfbfbf;
}


/*///////Feed.html////////*/
.main2{
	text-align: center;
}

#imagePosition {
	padding-top: 20px;
}

#userImgFeed{
    border-radius: 50%;
}
i {
	float:left;
}

